* {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-title {
  color: #231F20;
  font-size: 14px;
  font-weight: 600;
}

.rounded-pill {
  color: #231F20 !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 7px 20px !important;
  border: 1.5px solid #3799D4 !important;
}

.rounded-pill:hover {
  color: white !important;
  background-color: #3799D4 !important;
}

.dropdown-item {
  font-size: 13px;
}

.dropdown-item:hover {
  background-color: rgba(55, 153, 212, 0.15) !important;
}